.brn-about-sphere {
  position: relative;
  cursor: default;
  width: 100%;
  height: calc(100vw - 24px); }
  @media (min-width: 768px) {
    .brn-about-sphere {
      width: 750px;
      height: 750px; } }
  .brn-about-sphere__item {
    position: absolute;
    top: calc(50% - 17.5px);
    left: calc(50% - 17.5px);
    opacity: 0;
    transition: opacity 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    will-change: opacity, transform;
    pointer-events: none;
    user-select: none; }
    .brn-about-sphere__item--visible {
      opacity: 1; }
  .brn-about-sphere__avatar {
    position: relative;
    width: 35px;
    height: 35px;
    background-size: cover;
    z-index: 1; }
  .brn-about-sphere__bubble {
    position: absolute;
    left: 22.5px;
    top: -17.6px;
    will-change: transform;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(0) translate3d(-50%, 2.1px, 0);
    transform-origin: left;
    z-index: 0;
    white-space: nowrap; }
    .brn-about-sphere__bubble--visible {
      transform: scaleX(1) translate3d(-50%, 0, 0); }
