$markerAvatarSize: 35px;
$markerAvatarMargin: 2px;
$mainPageSectionPadding: 12px;
$triangleSize: 0.1px;
$graySecondary: #222222;

.brn-about-sphere {
  position: relative;
  cursor: default;
  width: 100%;
  height: calc(100vw - #{$mainPageSectionPadding * 2});

  @media(min-width: 768px)  {
    width: 750px;
    height: 750px;
  }

  &__item {
    position: absolute;
    top: calc(50% - #{$markerAvatarSize / 2});
    left: calc(50% - #{$markerAvatarSize / 2});
    opacity: 0;
    transition: opacity 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    will-change: opacity, transform;
    pointer-events: none;
    user-select: none;

    &--visible {
      opacity: 1;
    }
  }

  &__avatar {
    position: relative;
    width: $markerAvatarSize;
    height: $markerAvatarSize;
    background-size: cover;
    z-index: 1;
  }

  &__bubble {
    position: absolute;
    left: $markerAvatarSize / 2 + 5px;
    top: -($triangleSize + $markerAvatarSize / 2);
    will-change: transform;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(0) translate3d(-50%, $triangleSize + $markerAvatarMargin, 0);
    transform-origin: left;
    z-index: 0;
    white-space: nowrap;

    &--visible {
      transform: scaleX(1) translate3d(-50%, 0, 0);
    }
  }
}